.contact-icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 5px;
}
.contact {
    margin-bottom: 50px;
}
.contact .contact-form {
	padding: 60px 30px;
	position: relative;
	z-index: 2;
}

.contact .contact-form:after {
	position: absolute;
	content: "";
	top: -9px;
	left: -13px;
	width: 116%;
	height: 116%;
	background: url("https://i.ibb.co/hd0kR42/contact-form-bg.png") center center no-repeat;
	background-size: cover;
	z-index: -1;
}

.contact .contact-form h3 {
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	color: #121f59;
	margin-top: -3px;
	margin-bottom: 35px;
}

.contact .contact-form form input {
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	border: 1px solid rgba(155, 155, 155, 0.5);
	border-radius: 25px;
	padding: 0 30px;
}

.contact .contact-form form textarea {
	width: 100%;
	height: 140px;
	margin-bottom: 20px;
	border: 1px solid rgba(155, 155, 155, 0.5);
	border-radius: 25px;
	padding: 15px 30px;
}

.contact .contact-form form button {
	display: inline-block;
	height: 45px;
	line-height: 45px;
	background-image: -moz-linear-gradient(85deg, #2d7bff 0%, #4c8eff 100%);
	background-image: -webkit-linear-gradient(85deg, #2d7bff 0%, #4c8eff 100%);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(13, 21, 75, 0.1);
	box-shadow: 0px 0px 10px 0px rgba(13, 21, 75, 0.1);
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	padding: 0 30px;
	border: 0px;
	border-radius: 25px;
	cursor: pointer;
	margin-bottom: -7px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.contact .contact-form form button:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	z-index: -1;
}

.contact .contact-form form button:hover {
	color: #3f86fe;
}

.contact .contact-form form button:hover:after {
	opacity: 1;
}
.social-icon{
    border: 1px solid #121f59;
    font-size: 20px;
    padding: 5px 13px;
    border-radius: 100%;
    margin: 5px;
}
.social-icon:hover{
    color: white;
    background-color: #121f59;
    
}

@media screen and (max-width: 767px) {
	.contact .contact-form:after{
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}