.product-title h2{
    color: #121f59;
}
.product-subtitle {
    font-size: 17px;
    color: #0b1d97;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 9px;
}
.product-title p{
    font-size: 16px;
    line-height: 26px;
    color: #3d446f;
}
.product-box {
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in;
}
.product-box:hover{
    box-shadow: 0px 0px 7px 0px rgb(11 29 151 / 20%);
    border-color: #0b1d97;
}
.product-image{
    width: 253px;
    height: 263px;
    object-fit: contain;
}
.purchase{
    height: 40px;
    width: 165px;
    background: #3f86fe;
    box-shadow: 0px 0px 10px 0px rgba(13, 21, 75, 0.1);
    display: inline-block;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
    transition: all 0.3s ease-in;
    border: none;
}