.offcanvas{
    width: 300px;
}
.dashboard-toggle{
    position: absolute;
    top: 20%;
}
.link-area, .link-area a{
    background: #121f51;
    font-weight: 600;
    color: #f0f0f0;
}
.dashboard-nav li{
    list-style: none;
    line-height: 30px;
    transition: ease-in-out .5s;
}
.dashboard-nav li:hover{
    padding-left: 10px;
}
.link-area a:hover{
    color: #0f0ff0;
}

/* make admin css */
.row-box {
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in;
}
.row-box:hover{
    box-shadow: 0px 0px 7px 0px rgb(11 29 151 / 20%);
    border-color: #0b1d97;
}
@media screen and (max-width: 767px) {
    .dashboard-toggle{
        position: absolute;
        top: 30%;
    }
    .offcanvas{
        width: 260px;
    }
}