.review{
    background-image: -moz-radial-gradient(50% 50%, circle closest-side, #05358a -50%, #000046 105%);
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #053c9b -50%, #000046 105%);
}
.review-section{
    padding: 120px 0 120px;
    
    position: relative;
    z-index: 2;
}
.slider .card{
   background-color: rgba(0,0,0,.1);
    color: #fff;
}
.slider img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding:15px;
    border: 2px dotted #fff; 
}
.carousel-indicators{
    display: none;
}